<div class="@Css">
    @ChildContent
</div>

@code {
    [Parameter]
    public bool Md { get; set; } = false;
    [Parameter]
    public bool Lg { get; set; } = false;
    [Parameter]
    public bool Xl { get; set; } = false;
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string Css = "grid";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (Md)
        {
            Css += " grid--md";
        }
        else if (Lg)
        {
            Css += " grid--lg";
        }
        else if (Xl)
        {
            Css += " grid--xl";
        }
    }

}
