.grid {
    display: grid;
    width: 100%;
    place-items:center;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    &--md {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    &--lg {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    &--xl {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}
